.rtl, header.header .right {
  direction: rtl;
}

.ltr, header.header .right div {
  direction: ltr;
}

header.header {
  padding: 0 20px;
  border-bottom: 1px solid #c6c9cc;
  background-color: #ffffff;
}
header.header .split {
  margin: 0 10px;
}
header.header .left span, header.header .right span {
  display: inline-block;
  height: 70px;
  line-height: 70px;
}
header.header .left {
  font-size: 18px;
}
header.header .left .split {
  font-size: 20px;
  color: #8e8e8e;
}
header.header .left .logo {
  margin-right: 10px;
}
header.header .right {
  font-size: 16px;
}
header.header .right .split {
  color: #c4c4c4;
  font-size: 18px;
}
header.header .right > * {
  height: 70px;
}
header.header .right .message-total {
  font-size: 14px;
  color: #ff843f;
}
header.header .right .message {
  margin-right: 10px;
  margin-bottom: 4px;
}
header.header .right .user {
  margin-bottom: 4px;
}
header.header .right .logout {
  color: #0091ff;
  margin-left: 15px;
}
header.header .right div {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
header.header > div {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 50%;
  height: 100%;
}

.left-nav {
  width: 200px;
  height: 100%;
  background-color: #2d353c;
}
.left-nav .list-group-item {
  font-size: 18px;
  color: #909499;
  border: none;
  background-color: inherit;
}
.left-nav .list-group-item .icon {
  margin-right: 15px;
}
